body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #cee8f5; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; 
    text-align: center;
}

.title {
    margin: 0;
    color: #333; 
}

.invisible-table {
    width: 100%;
    border-collapse: collapse;
}

.invisible-table td {
    padding: 10px;
    border: none;
}

.profile-picture img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
    object-fit: cover; 
}

.login {
    font-weight: bold;
    color: #555; 
}

.description {
    color: #777; 
}

.social-networks img {
    width: 24px; 
    height: 24px;
    margin: 0 5px; 
}

.social-networks a {
    text-decoration: none;
}

.contact-button a {
    display: inline-block;
    background-color: #ba72aa; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none;
    font-weight: bold;
}

.contact-button a:hover {
    background-color: #0056b3; 
}
